[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
selenium = "*"
"bs4" = "*"
lxml = "*"
requests = "*"
awsebcli = "*"
uwsgi = "*"
"psycopg2-binary" = "*"
django-storages = "*"
pillow = "*"
"boto3" = "*"
Pipfile = "*"

[dev-packages]
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.6"
