{% extends 'base.html'%}
{% load static %}

{% block content %}

    <h4>pension list</h4>
<div>
    {% if user.is_authenticated %}

         <form action="{% url 'members:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm" style="margin-bottom: 10px">
                로그아웃하기
            </button>
        </form>

    {% else %}
    <a href="{% url 'members:login' %}" class="btn btn-primary btn-sm" style="margin-bottom: 10px">Sign in</a>
    <a href="{% url 'members:signup' %}" class="btn btn-info btn-sm" style="margin-bottom: 10px">Sign up</a>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        {% for pension in pensions %}
        <div class="col-4 mb-3">
            <div class="card">
                <a href="{% url 'food:post_detail' pk=pension.pk %}"><div class="card-img-top" style="height: 200px; background-image: url('{{pension.photo}}'); background-size: cover;"></div></a>
                <div class="card-body">
                    <h5 class="card-title">{{pension.name}}</h5>
                    <p class="card-text">{{pension.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}


