{% extends 'base.html'%}
{% load static %}

{% block content %}

    <h1>모든 팬션 리스트</h1>

    {% if user.is_authenticated %}

         <form action="{% url 'members:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">
                로그아웃하기
            </button>
        </form>

    {% else %}
    <a href="{% url 'members:login' %}">로그인하기</a>
    <a href="{% url 'members:signup' %}">signup</a>
    {% endif %}

    {% for pension in pensions %}

        <img src={{pension.photo}} alt="">
        <div>{{pension.name}}</div>
        <div>{{pension.price}}</div>

    {% endfor %}


{% endblock %}


